<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618754737639-6pessbtu2jab0bvukr60j014tkoik9ui.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618754737639-6pessbtu2jab0bvukr60j014tkoik9ui</string>
	<key>API_KEY</key>
	<string>AIzaSyAtyo3-iryz_tb_iyKHq8LuFZRP_AHx33o</string>
	<key>GCM_SENDER_ID</key>
	<string>618754737639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UbicompLab.ExerciseRx</string>
	<key>PROJECT_ID</key>
	<string>exerciserx-e36f0</string>
	<key>STORAGE_BUCKET</key>
	<string>exerciserx-e36f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618754737639:ios:2e814e6546fa8879b9a942</string>
	<key>DATABASE_URL</key>
	<string>https://exerciserx-e36f0.firebaseio.com</string>
</dict>
</plist>